@import 'preset.css';

body{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background: radial-gradient(circle at bottom left,transparent 25%,var(--corE) 25.5%, var(--corE) 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,var(--corE) 34.5%, var(--corE) 45.5%, transparent 46%, transparent 100%);
	background-size: 1.5em 1.5em;
	background-color: var(--corC);
	opacity: 1;
}
	i{
		/* margin-right: 1vw; */
	}
	.titleMain{
		color: var(--corB);
		font-size: 11vh;
		font-family: sans-serif;
		font-weight: bold;
		font-style: italic;
		margin-top: 20vh;
		text-align: center;
		filter: drop-shadow(4px 4px 1px var(--corA));
	}
	.mainOperation{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100vw;
		height: 33vh;
		margin-top: 7vh;
	}
		.mainOperation a{
			text-decoration: none;
			background-color: var(--corA);
			padding: 2vh;
			width: 30%;
			text-align: center;
			font-size: 3vh;
			font-family: sans-serif;
			font-weight: bold;
			color: var(--corC);
			border-radius: 0.5vw;
			box-shadow: 5px 5px var(--corB);
		}
			.mainOperation a:hover{
				cursor: pointer;
				box-shadow: 7px 7px var(--corB);
				color: var(--corB);
			}
			.mainOperation a:active{
				cursor: grabbing;
				box-shadow: 0px 0px var(--corB);
			}
	.span{
		display: flex;
		margin-top: 20vh;
		height: 50vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 30vw;
		border: 2px solid var(--corD);
		background-color: var(--corC);
		border-radius: 0.5vw;
		animation: 0.5s openSpan linear;
	}
		.span .exit{
			text-decoration: none;
			background-color: var(--corD);
			padding: 1vh;
			width: 3vw;
			height: 3vw;
			font-size: 4vh;
			font-family: sans-serif;
			font-weight: bold;
			color: var(--corC);
			border-radius: 10vw;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			margin: -50vh 0vw 0vh 30vw;
			animation: 0.5s opacity linear;
		}
			.span .exit:hover{
				cursor: pointer;
				color: var(--corB);
				font-size: 6vh;
			}
			.span .exit:active{
				cursor: grabbing;
				font-size: 3vh;
			}
		.span .emoji{
			color: var(--corB);
			font-size: 18vh;
			margin-bottom: 4vh;
			animation: 0.5s opacity linear;
		}
		.span .info{
			color: var(--corD);
			font-family: monospace;
			font-size: 3vh;
			font-style: italic;
			font-weight: bold;
			animation: 0.5s opacity linear;
		}

@keyframes opacity{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes openSpan{
	0%{
		height: 0vh;
	}
	100%{
		height: 50vh;
	}
}